<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= title %> - 车辆监控平台</title>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css">
    <script src="/javascripts/jquery.js"></script>
  </head>
  <body>
  
    <div class="navbar navbar-fixed-top" id="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">车辆监控平台</a>
          <div class="nav-collapse">
            <ul class="nav">
              <% if (user) { %>
                <li <% if (currenturl == '/monitor') { %>class="active"<% } %> ><a href="/monitor">车辆监控</a></li>
                <li <% if ( RegExp('/users','i').test(currenturl) || RegExp('/register','i').test(currenturl) ) { %>class="active"<% } %> ><a href="/users">账号管理</a></li>
                <li><a href="/logout">注销</a></li>
              <% } else { %>
                <li <% if (currenturl == "/login") { %>class="active"<% } %> ><a href="/login">登陆</a></li>
                <li <% if (RegExp('/register','i').test(currenturl)) { %>class="active"<% } %>><a href="/register">注册</a></li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="container" class="container">
      <% if (success) { %>
        <div class="alert alert-success">
          <%= success %>
        </div>
      <% } %>
      <% if (error) { %>
        <div class="alert alert-error">
          <%= error %>
        </div>
      <% } %>