<%- include header %>
  <div class="hero-unit">
    <h1>欢迎來到 车辆监控平台</h1>
  </div>
<form class="form-horizontal" method="post">
  <fieldset>
    <legend>用户登录</legend>
    <div class="control-group">
      <label class="control-label" for="username">用户名</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="username" name="username">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">密码</label>
      <div class="controls">
        <input type="password" class="input-xlarge" id="password" name="password">
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">登陆</button>
      <a class="btn" href="/reg">还没有账号</a>
    </div>
    
  </fieldset>
</form>
<%- include footer %>